{
  "bracketSameLine": true,
  "singleQuote": false,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss",
    "@prettier/plugin-php"
  ],
  "proseWrap": "always",
  "printWidth": 80
}
